.gitignore
node_modules/
dist/
.env
.vscode/ 
target/
git 

## ignoring alll frontend  

src/*.tsx 
src/index.css
src/ivr/
src/components/

*.html

.fuse_hidden*
assets/

# Exclude dynamic drafts
IVR-engine/draft/

# Exclude UUID-prefixed scenario files and subdirectories
IVR-engine/scenarios/[0-9a-fA-F][0-9a-fA-F][0-9a-fA-F][0-9a-fA-F][0-9a-fA-F][0-9a-fA-F][0-9a-fA-F][0-9a-fA-F]-*
